.mr-dafoe-regular {
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
}

.caudex-regular {
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
}

.caudex-bold {
    font-family: "Caudex", serif;
    font-weight: 700;
    font-style: normal;
}

.page-bg {
    background-color: #FEFAE0;
    height: 100vh;
}

.bg-words {
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15rem;
    color: #CCD5AE;
    text-align: start;
    opacity: .5;
}

nav {
    background-color: #DDA15E;
    color: #FEFAE0;
}

footer {
    background-color: darkslategrey;
}

.brand-color-light {
    background-color: #DDA15E;
}

.brand-color-dark {
    background-color: #BC6C25;
}

.brand-container {
    background-color: #BC6C25;
}

.brand-container-logo {
    font-family: "Mr Dafoe", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    text-align: center;
    text-decoration: none;
    color: #FEFAE0;
}

.label {
    font-family: "Caudex", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.15rem;
    font-weight: 900;
}


.card {
    background-color: blue;
}
