<div class="container">
    <h1 class="caudex-bold"><%= action %></h1>
    <div class="col-12">
        <% posts.forEach(post => { %>
            <a href=<%- `\"posts/${post.id}\"`; %> class="btn btn-lg rounded brand-color-light mb-3 me-3 py-3 px-4">
                <h3 class="text-start">
                    <%= post.title %>
                </h3>
            </a>
        <% }); %>
    </div>
</div>