<footer class="mt-auto text-light d-flex align-items-center">
    <div class="container d-flex justify-content-end align-items-center">
      <p class="m-0 p-0">© 2025 Agustín Aguirre </p>
    </div>
</footer>